<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval代表log4j每间隔1800s自动监控配置文件是否有变化，如果发生变化，就重新加载配置文件-->
<Configuration status="off" monitorInterval="1800">

    <properties>
        <!--log日志打印目录-->
        <property name="LOG_HOME">logs</property>
        <!--log error日志打印目录-->
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="app">app.log</property>
        <property name="error">error.wf.log</property>
        <property name="test">test.log</property>
    </properties>

    <Appenders>
        <!--日志打印到控制台上-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-15p (%F:%L) - %m%n"/>
        </Console>

        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
        <File name="log" fileName="${LOG_HOME}/${test}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${error}"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>


    </Appenders>

    <Loggers>
        <!--必須添加的loggers-->
        <root level="debug" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>

    </Loggers>
</Configuration>